PUSHI 0
JUMP L1
L1:
START
PUSHS "Introduza a sua idade:"
WRITES
PUSHS "\n"
WRITES
READ
ATOI
STOREG 0
PUSHG 0
PUSHI 18
SUPEQ
JZ L2
PUSHS "Maior de idade."
WRITES
PUSHS "\n"
WRITES
PUSHG 0
PUSHI 65
SUP
JZ L4
PUSHS "Reformado."
WRITES
PUSHS "\n"
WRITES
JUMP L5
L4:
L5:
JUMP L3
L2:
PUSHS "Menor de idade."
WRITES
PUSHS "\n"
WRITES
L3:
STOP