PUSHI 0
PUSHI 0
PUSHI 0
JUMP L1
L2:
PUSHS "--- Inicio do Calculo ---"
WRITES
PUSHS "\n"
WRITES
RETURN
L1:
START
PUSHA L2
CALL
PUSHI 10
STOREG 0
PUSHI 20
STOREG 1
PUSHS "Valores: "
WRITES
PUSHG 0
WRITEI
PUSHS " e "
WRITES
PUSHG 1
WRITEI
PUSHS "\n"
WRITES
PUSHG 0
PUSHG 1
INF
JZ L3
PUSHS "O maior e "
WRITES
PUSHG 1
WRITEI
PUSHS "\n"
WRITES
JUMP L4
L3:
PUSHS "O maior e "
WRITES
PUSHG 0
WRITEI
PUSHS "\n"
WRITES
L4:
STOP