PUSHI 0
PUSHI 0
JUMP L1
L1:
START
PUSHS "Contar numeros pares ate:"
WRITES
PUSHS "\n"
WRITES
READ
ATOI
STOREG 0
PUSHI 1
STOREG 1
L2:
PUSHG 1
PUSHG 0
INFEQ
JZ L3
PUSHG 1
PUSHI 2
MOD
PUSHI 0
EQUAL
JZ L4
PUSHG 1
WRITEI
PUSHS " e Par"
WRITES
PUSHS "\n"
WRITES
JUMP L5
L4:
L5:
PUSHG 1
PUSHI 1
ADD
STOREG 1
JUMP L2
L3:
STOP