	JUMP main
main:
	START
	PUSHS "Introduza um número inteiro positivo:"
	WRITES
	WRITELN
	READ
	ATOI
	STOREG 0
	PUSHI 1
	STOREG 1
	PUSHI 1
	STOREG 2
label1:
	PUSHG 2
	PUSHG 0
	SUP
	NOT
	JZ label2
	PUSHG 1
	PUSHG 2
	MUL
	STOREG 1
	PUSHG 2
	PUSHI 1
	ADD
	STOREG 2
	JUMP label1
label2:
	PUSHS "Fatorial de "
	WRITES
	PUSHG 0
	WRITEI
	PUSHS ": "
	WRITES
	PUSHG 1
	WRITEI
	WRITELN
	STOP
