	JUMP main
funcBinToInt:
	STOREG 0
	PUSHI 0
	STOREG 1
	PUSHI 1
	STOREG 2
	PUSHG 0
	STRLEN
	STOREG 3
label1:
	PUSHG 3
	PUSHI 1
	SUPEQ
	JZ label2
	PUSHG 0
	PUSHG 3
	CHARAT
	PUSHS "1"
	EQUAL
	JZ label4
	PUSHG 1
	PUSHG 2
	ADD
	STOREG 1
label4:
	PUSHG 2
	PUSHI 2
	MUL
	STOREG 2
	PUSHG 3
	PUSHI 1
	SUB
	STOREG 3
	JUMP label1
label2:
	PUSHG 1
	STOREG 4
	PUSHG 4
	RETURN
main:
	START
	PUSHS "Introduza uma string binária:"
	WRITES
	WRITELN
	READ
	STOREG 0
	PUSHG 0
	PUSHA funcBinToInt
	CALL
	STOREG 1
	PUSHS "O valor inteiro correspondente é: "
	WRITES
	PUSHG 1
	WRITEI
	WRITELN
	STOP
