START
JUMP L1
bintoint:
STOREL 0
PUSHI 0
STOREL 1
PUSHN 4
PUSHI 0
STOREL 3
PUSHI 1
STOREL 4
PUSHL 0
STRLEN
STOREL 2
L2:
PUSHL 2
PUSHI 1
JZ L3
PUSHL 0
PUSHL 2
CHARAT
PUSHS "1"
CHRCODE
JZ L4
PUSHL 3
PUSHL 4
STOREL 3
JUMP L5
L4:
L5:
PUSHL 4
PUSHI 2
STOREL 4
PUSHL 2
PUSHI 1
STOREL 2
JUMP L2
L3:
PUSHL 3
STOREL 1
PUSHL 1
RETURN
L1:
PUSHI 0
PUSHI 0
PUSHS "Introduza uma string binária:"
WRITES
PUSHS "\n"
WRITES
READ
STOREG 0
PUSHG 0
PUSHA bintoint
CALL
STOREG 1
PUSHS "O valor inteiro correspondente é: "
WRITES
PUSHG 1
WRITEI
PUSHS "\n"
WRITES
STOP